/* -------------Main (start)----------------------- */


.main-container {
    width : 100%;
    height: 30vh;
    color : #fff;
}

.title-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 좌우 정렬에서 상하 정렬로 */
    flex-direction: column; 
    gap: 1rem; /* 제목과 부제목 사이의 간격 */
}

/* -------------Main (end)----------------------- */

/* -------------card (start)----------------------- */
.card-section {
    width : 100%;
    padding: 4rem 0; /* 상하 여백 추가 */
}

.card-container {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 2rem; /* 카드 사이의 간격 */
}

.card {
    width: 200px;
    height: 150px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

.card:hover {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transform: translateY(-8px);
}

/* -------------card (end)----------------------- */



/* -------------미디어 쿼리 (start)----------------------- */

@media (max-width: 768px) {
    .card-section {
        padding: 1rem 0; /* 작은 화면에서는 상하 여백 줄이기 */
    }

    .card-container {
        flex-direction: column; /* 작은 화면에서는 카드 세로 정렬 */
        gap: 2rem; /* 카드 사이의 간격 줄이기 */
    }

    .card {
        height: 70px;
    }

}