.vessel-detail-container {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.dl-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 3rem 0rem;
    padding : 2rem 0rem; 
    background-color: white ;
    color: black;
    border-radius: 10px;
}

.btn-position {   
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* .btn-position a {   
    text-align: center;
} */


.title-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 좌우 정렬에서 상하 정렬로 */
    flex-direction: column; 
    gap: 1rem; /* 제목과 부제목 사이의 간격 */
}

dl {
    display: grid;
    grid-template-columns: 1fr 2fr; /* 항목명과 항목값의 비율 */
    gap: 0.5rem 1rem; /* 항목 간의 간격 */
    width: 90%;
    text-align: left;
    font-size: 1.3rem;
}

dt, dd {
      padding: 0.7rem 0.6rem;
      border-bottom: 1px solid #eee; /* 행 구분선 */
}

dt { /* 항목명 */
    font-weight: bold;
    color: #666;        /* 항목명은 회색 */
    font-size: 0.9rem;  /* 항목명은 살짝 작게 */
}

dd { /* 항목값 */ 
    margin-left: 0;
    font-weight: 600;   /* 항목값은 굵게 */
    color: #333;
}

@media (max-width: 768px) {
    .vessel-detail-container {
    padding: 2rem 0rem;
    }


    dl {
        font-size: 1rem;
    }
    

    dt {
        font-size: 0.8rem;
    }
}