/* ---선박 목록 UI (start) --- */

.vessel-list-container {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.title-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 좌우 정렬에서 상하 정렬로 */
    flex-direction: column; 
    gap: 1rem; /* 제목과 부제목 사이의 간격 */
}


.search-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    text-align: center;
}

.search-box-inner {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.search-box-inner input,
.search-box-inner select {
    font-size: 1rem;
    padding: 0.4rem 0.6rem;
    height: 2.2rem;
}


.table-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0rem;
    background-color: white ;
    color: black;
    border-radius: 10px;
    flex-direction: column;
}

table {
    margin: 1rem;
    width: 90%;
    border-collapse: collapse;
}

th, td {
    padding: 0.8rem 1rem;
    text-align: center;
    border-bottom: 1px solid #333232; /* 행 구분선 */
}

th {
    background-color: #7aa4f1;
    font-weight: bold;
}

tr:hover {
    background-color: #f9f9f9; /* 행 호버 효과 */
}

.pagination {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    gap: 0.3rem;
    padding: 1rem 0;
}

.pagination a {
    background-color: #7aa4f1;
    color: white;
    border-radius: 4px;
    padding: 0.4rem 0.8rem;
    text-decoration: none;
}

.pagination a.active {
    background-color: #1354d8;
    font-weight: bold;
}

.pagination span {               /* ... 생략 표시 */
    color: #999;
    padding: 0.4rem 0.3rem;
}

/* ---선박 목록 UI (end) --- */

@media (max-width: 768px) {
    .vessel-list-container {
    padding: 2rem 0rem;
    }

    .table-container {
        overflow-x: auto; /* 가로 스크롤 허용 */
    }

    table {
    margin: 0.5rem;
    width: 100%;
    border-collapse: collapse;
    }

    th, td {
        padding: 0.2rem 0.1rem;
        font-size: 0.75rem; /* 글자 크기 축소 */
    }

    .search-box-inner {
        flex-direction: column;
        width: 100%;
        padding: 0 1rem;
    }

    .search-box-inner input,
    .search-box-inner select {
        width: 100%;
        font-size: 0.9rem;
    }

    .pagination {
      gap: 0.2rem;       /* 버튼 간격 좁히기 */
      flex-wrap: wrap;   /* 넘치면 줄바꿈 허용 */
      padding: 0.8rem 0;
    }

    .pagination a {
        padding: 0.3rem 0.6rem;   /* 버튼 크기 축소 */
        font-size: 0.85rem;
    }
}