{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


{% block content %}
    <div class="main-container">
        <div class="inner">
            <div class="title-container">
                <h1>선박 정보 관리 시스템</h1>
                <a href="{{ url_for('vessel_list') }}" class="btn-primary">선박 리스트 보기</a>
            </div>
        </div>
    </div>
    <section class="card-section">
        <div class="inner">
            <div class="card-container">
                <a href="{{ url_for('vessel_new')}}"><div class="card">선박 등록</div></a>
                <a href=""><div class="card">선박 조회</div></a>
                <a href="{{ url_for('signup')}}"><div class="card">회원 가입</div></a>
            </div>
        </div>
    </section>
{% endblock %}