{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


{% block content %}
    <div class="main-container">
        <div class="inner">
            <div class="title-container">
                <h1>선박 정보 관리 시스템</h1>
            </div>
        </div>
    </div>
    <section class="card-section">
        <div class="inner">
            <div class="card-container">
                {% if current_user and current_user.role == "admin" %}
                    <a href="{{ url_for('vessel.vessel_new')}}"><div class="card">선박 등록</div></a>
                {% endif %}
                <a href="{{ url_for('vessel.vessel_list') }}"><div class="card">선박 조회</div></a>
                {% if current_user and current_user.role == "admin" %}
                <a href="{{ url_for('auth.signup')}}"><div class="card">회원 가입</div></a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}