{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vessel_edit.css') }}">
{% endblock %}


{% block content %}
    <div class="sub-container">
        <div class="inner">
            <div class="title-container"><h1>선박 수정</h1></div>
            <div class="form-container">
                <form action="/vessel/{{ vessel.id }}/edit" method="POST">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <input type="text" name="name" value="{{ vessel.name }}" required>
                    <input type="text" name="imo_number" value="{{ vessel.imo_number }}" required minlength="7" maxlength="7">
                    <select name="ship_type" required>
                        <option value="" disabled>선종 선택</option>
                        <option value="CNTR" {% if vessel.ship_type == "CNTR" %}selected{% endif %}>컨테이너선</option>
                        <option value="TNKR" {% if vessel.ship_type == "TNKR" %}selected{% endif %}>유조선</option>
                        <option value="GAS" {% if vessel.ship_type == "GAS" %}selected{% endif %}>가스운반선</option>
                        <option value="BULK" {% if vessel.ship_type == "BULK" %}selected{% endif %}>벌크선</option>
                        <option value="PCTC" {% if vessel.ship_type == "PCTC" %}selected{% endif %}>PCTC</option>
                        <option value="MPV" {% if vessel.ship_type == "MPV" %}selected{% endif %}>MPV</option>
                    </select>
                    <input type="number" name="gross_tonnage" value="{{ vessel.gross_tonnage }}" required>
                    <select name="flag" required>
                        <option value="" disabled >기국 선택</option>
                        <option value="KOR" {% if vessel.flag == "KOR" %}selected{% endif %}>대한민국</option>
                        <option value="PAN" {% if vessel.flag == "PAN" %}selected{% endif %}>파나마</option>
                        <option value="LIB" {% if vessel.flag == "LIB" %}selected{% endif %}>라이베리아</option>
                        <option value="MAR" {% if vessel.flag == "MAR" %}selected{% endif %}>마샬</option>
                        <option value="SIN" {% if vessel.flag == "SIN" %}selected{% endif %}>싱가폴</option>
                    </select>
                    <input type="text" name="ship_code" value="{{ vessel.detail.ship_code }}" placeholder="선박코드" required>
                    <input type="text" name="vessel_ro" value="{{ vessel.detail.vessel_ro }}"  placeholder="RO" required>
                    <input type="text" name="vessel_class" value="{{ vessel.detail.vessel_class }}" placeholder="선급" required>
                    <input type="text" name="built_year" value="{{ vessel.detail.built_year}}" placeholder="건조년월(2021-04)">
                    <select name="team" required>
                        <option value="" disabled >관리팀 선택</option>
                        <option value="C1T" {% if vessel.detail.team == "C1T" %}selected{% endif %}>컨테이너선1팀</option>
                        <option value="C2T" {% if vessel.detail.team == "C2T" %}selected{% endif %}>컨테이너선2팀</option>
                        <option value="C3T" {% if vessel.detail.team == "C3T" %}selected{% endif %}>컨테이너선3팀</option>
                        <option value="C4T" {% if vessel.detail.team == "C4T" %}selected{% endif %}>컨테이너선4팀</option>
                        <option value="TKT" {% if vessel.detail.team == "TKT" %}selected{% endif %}>유조선팀</option>
                        <option value="LBT" {% if vessel.detail.team == "LBT" %}selected{% endif %}>LNG & BULK선팀</option>
                    </select>
                    <select name="crew" required>
                        <option value="" disabled>해상인사팀 선택</option>
                        <option value="CM1" {% if vessel.detail.crew == "CM1" %}selected{% endif %}>해상인사1팀</option>
                        <option value="CM2" {% if vessel.detail.crew == "CM2" %}selected{% endif %}>해상인사2팀</option>
                    </select>
                    <button type="submit" class="btn-primary">수 정</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
