{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vessel_list.css') }}">
{% endblock %}

{% block content %}
    <div class="vessel-list-container">
        <div class="inner">
            <div class="title-container"><h1>선박 목록</h1></div>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>선박명</th>
                            <th>IMO 번호</th>
                            <th>선종</th>
                            <th>총톤수</th>
                            <th>기국</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vessel in vessels %}
                        <tr>
                            <td><a href="{{ url_for('vessel.vessel_detail', vessel_id=vessel.id)}}">{{ vessel.name }}</a></td>
                            <td>{{ vessel.imo_number }}</td>
                            <td>{{ vessel.ship_type }}</td>
                            <td>{{ vessel.gross_tonnage }}</td>
                            <td>{{ vessel.flag }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>  
            </div>
        </div>
    </div> 
{% endblock %}
